* {
    margin: 0;
    padding: 0;
}
*::selection {
    background-color: rgb(207, 232, 255);
    /*background-color: rgb(255, 232, 188);*/
}

body {
    background-color: whitesmoke;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1, p, a {
    font-family: Inter, 'sans-serif';
}
h1 {
    text-align: center;
    margin: 1rem;
}
p, a {
    font-weight: 600;
}
p {
    text-align: center;
}
a {
    color: pink;
    text-decoration: none;
    justify-content: left;
}

#uploadinput {
    margin: 1rem 0rem .5rem 0rem;
}

.buttonsmodes{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0rem .5rem 0rem;
}
.buttons > button, .buttons > span > button {
    width: 3rem;
}
#modes > button {
    width: 5rem;
}

.download{
    display: flex;
    justify-content: center;
    margin: .5rem 0rem .5rem 0rem;
}
.download > button {
    width: 100%;
    margin: .5rem 0rem .5rem 0rem;
}

.ascii {
    display: grid;
    justify-content: center;
    align-items: center;
}
#canvas {
    display: none;
}
#pre {
    background-color: white;
    color: black;
    filter: drop-shadow(0em 0em 4em rgba(0, 0, 0, 0.100));
    margin: 1rem;
}

@media (max-width: 720px){

    p {
        text-align: left;
        margin: .5rem 2rem 0rem 2rem;
    }
    a {
        justify-content: left;
        margin: 0rem 2rem .5rem 2rem;
    }

    #uploadinput {
        margin: 1rem .5rem .5rem 2rem;
    }

    .buttonsmodes {
        display: flex;
        gap: 1rem;
        margin: .5rem 2rem 0rem 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .download > button {
        width: 100%;
        margin: .5rem 2rem .5rem 2rem;
    }

    .ascii {
        display: grid;
        justify-content: center;
        transform: scale(0.6);
    }
    #canvas {
        display: none;
    }
    #pre {
        margin: 0;
    }
}

/*




%%%%%%%%%%%%%%%%%@@@%%%%%%%%%%%%@%%*%%%@@%%=-=*%%%%%%%%%%%%*********************
%%%%%%%%%%%%%%%%@@@@%%%%%%%%%%%%@%%**%%@@@%%=::-*%%%%*%%%%%%%**+++*******%%*****
%%%%%%%%%%%%%%%%@@@%%%%%%%%%%%%%*%%%*%%%@@%%%=:.:-*%%%%*%%%%%%%*+=+++++*********
%%%%%%%%%%%%%%%@@@@%%%%%%%%%%%%%=*%%%*%%@@@%%%=:..:=*%%%**%%%%%%%*++++++=++++++=
%%%%%%%%%%%%%%%@@@@%%%%%%%%%%%%+-=%%%*%%%@%=%%%=:.:::+%%*%%%%%%%%%%+=++++++=====
%%%%%%%%%%%%%%%@@@@%%%%%%%%%%%*=::%%%%%%%%%:+%%*-::..:-*%=*%%%%%%%%%+===========
%%%%%%%%%%%%%%%@@@@%%%%%%%%%%%=:.:+%%%%%%%%::+%%=-....::+%-=%%%%%@@%%+==========
%%%%%%%%%%%%%%%%@@@%%%%%%%%%%+--==+%%%%%%%%-.:+%+-:....::=*--*%%%%@@%%**++++====
%%%@%%%%%%%%%%%%@@@%%%%%%%%%+-::..:*%%%%%%%::.:**:-:.....:-*:=+%%%%@@%%++****+++
%%%@%%%%%%%%%%%%@@@%%%%%%%%*:..::..+%%%%%%*:...:*=::.......-*::=%%%%@@%+====+++*
%%%@%%%%%%%%%%%%%@@%%%%%%%%-.......-%%%%%%+:....=+:-:......:==..=%%%@@%*====-==+
%%%@%%%%%%%%%%%%%@@%%%%%%%=.:.....::%%%%%%=.....:*:::........=-::-%%@@@%+===-==+
%%%@%%%%%%%%%%%%%%@@%%%%%*::......::*+*%%*:......=-:-.......:-==*%%%%@@%*====-==
%%%%@%%%%%%%%%%%%%@@%%%%%-......::::+=-%%+:.:....:=.-:......:-%@%*%=*@@@%=-==-:-
%%%%@%%%%%%%%%%%%%%@%%%%=::.....::::==-*%=-::....:=.-:......:*%@%=+:=*@@*=======
%%%%%%%%%%%%%%%%%%%%%%%+:.::-=+*%%%@@%**+:::::....-:::......:*:%@-=.-==%+==-====
%%@%%@%%%%%%%%%%%%%%@%*::+%@@@@@@@@@%%%@@%+:::....::........:%*@@-:.-===+=------
%%@%%%%%%%%%%%%%%%%%%%-+@@@@@%**%%@@@@%+=+**:..............:-@@@@:..====-=------
%%%%%%@%%%%%%%%%%%%%%%%@@@@%+=+*:.:%@@@@=:--:..............:-@%**..:=-=---------
%:.=%%%%%%%%%%%%%%%%%%@@@@%===@-...%@%@@%:.:................:%%+:.::+-=-==------
+..:*%%%%%%%%%%%%%%%%%%*@@*=-+@*=-+@@@@@@+...................:==::::*========---
*:::-%%%%%%@%%%%%%%%%%%*=@%=:*@@@@@@@@@@@*..:....................:.:*==++====---
%::-:+%%%@%%@%%%%%%%%%%%=-%+.=@@@@@@@@%%@*......................::.:*+=+=++=====
@+:---*%%%@%@@%%%%%%%%%%%::=-.*@@@%*++++=-.......................:.:************
@@=:..-%%%%%%@%%%%%%%%%%%*::::.+@@%++++**...:................:....:++*****++++==
%@@=:.:=%%%%@@@@@@%%%%%%%%*::...:+%%%%*=:..::...............::...:=%=+++++++++==
%%%@*-::+%%%%@@@@@@@@%%%%%%+:.......:---::......................:+%*++++++++++++
%%%%@@%+:*%%%%@@@@@@@@@@%%%%+:::......::::....................:-*@%**********+**
%%%%%@@@%%@%%%%@@@@@@@@@+:-+*+:.......:.:::..................:+%@%%%****++*%*+**
%%%%%%@@@%%@%%%%@@@@@@@@%=:.:--:.........::...........:-=:.:-%@@@%@%*****+**++++
%%%%%%%@@%%%@%%%%@@@@@@@%%=::........................:=-:.:+@@@@%%%%*****+++=---
*%%%%%%%@@%%%@%%%%%@@@@@@%%+:.......................:.:..=%@@@@@%%%%%****++-----
*%@%%%%%%@%%@@@%%%%%@@@@@@%%*=-:::..:..................:+%@@@@@%%%%%%%%%%*=:==--
**@%%%%%%@@%@@@@@%%%%%@@@@@%%%++++=---::::::::::::::-=*@@%@@@@%%%%%%%%%%%=:-----
%%@%%%%%%%@@%%%@@@%%%%%@@@@@%%%*==+++++=========+++%@@@@@@@@%%%%%%%%%%%*=--=----
%%@%@%%%%%@%%%%%%@@%%%%%%@@@@%%%*+=====+++++++++***%%%%%%@@%@%%%%%%%%%*---------
%%@%%%%%%%@%%%%%%%%%%%%%@%%@@@%%%%+==========+*%%%%%%*=%%%%%%%%++**%**---====---
*%%%%%%%%%%%%%%%%%%%%%%%%@%%%@@%%%%*+=======+**%%%**++=%%@%%%%*=**%%+=*%%%%%%%%%
+*%%%%%%%@%%%%%%%%%%%%%%%%%%%%%%%%%%%*+====++=****===++%%@%%%*++***=*%@@@@@@@@@@
%*%%%%%%%@%%%%%%%%%%%%%%%%%%@%%%%%%%%%@%**++=-+==+=+=*%%%%%*+*+***=+%%=---------




*/
