* {
    margin: 0;
    padding: 0;
}
*::selection {
    background-color: rgb(207, 232, 255);
}

body {
    background-color: whitesmoke;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1, p, a {
    font-family: Inter, 'sans-serif';
}
h1 {
    text-align: center;
    margin: 1rem;
}
p, a {
    font-weight: 600;
}
p {
    text-align: center;
}
a {
    color: pink;
    text-decoration: none;text-align: left;
}

#uploadinput {
    margin: 1rem 0rem .5rem 0rem;
}

.buttonsmodes{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0rem .5rem 0rem;
}
.buttons > button, .buttons > span > button {
    width: 3rem;
}
#modes > button {
    width: 5rem;
}

.ascii {
    display: grid;
    justify-content: center;
    align-items: center;
}
#canvas {
    display: none;
}
#pre {
    background-color: white;
    color: black;
    filter: drop-shadow(0em 0em 4em rgba(0, 0, 0, 0.100));
    margin: 1rem;
}

@media (max-width: 720px){

    .info {
        display: grid;
        justify-content: center;
        margin: .5rem;
    }
    p,a {
        text-align: left;
    }

    #uploadinput {
        margin: 1rem .5rem .5rem .5rem;
    }

    .buttonsmodes {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .ascii {
        display: grid;
        justify-content: center;
        transform: scale(0.6);
        margin-top: -6rem;
    }
    #canvas {
        display: none;
    }
    #pre {
        margin: 0;
        /*background-color: orange;*/
    }
}
